<div class="adddata">
    <h3>Thêm hàng</h3>
    <form action="" method="POST" >
        {{#if msg}}
            <p class="text-danger">{{{msg}}}</p>
        {{/if}}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tên</label>
            <input type="text" name="ten" class="form-control" id="exampleFormControlInput1"
                   placeholder="Tên">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" id="exampleFormControlInput1"
                   placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="text" name="password" class="form-control" id="exampleFormControlInput1"
                   placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Số điện thoại</label>
            <input type="text" name="sodienthoai" class="form-control" id="exampleFormControlInput1"
                   placeholder="Số điện thoại">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Địa chỉ</label>
            <input type="text" name="diachi" class="form-control" id="exampleFormControlInput1"
                   placeholder="Địa chỉ">
        </div>
        <br>
        <Button type="submit" class="btn btn-primary">Thêm</Button>
        <a href="/products" class="btn btn-primary">List</a>
    </form>

</div>